doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='http://code.jquery.com/jquery-2.0.3.min.js')
		script(src='http://code.highcharts.com/highcharts.js')
		script(src='javascripts/application.js')