body
	padding: 10px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
select#accounts,
select#account-list
	margin: 0 auto
	display: block
	width: 50%
	min-width: 200px
select#account-list
	opacity: 0
div#container
	width: 100%
	height: 500px
	margin: 0 auto 20px